@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  font-family: "Lato", sans-serif;
}

.background-img {
  background-image: url("/src/static/images/background.png");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 20%, 20%;
  background-position: center;
  width: 100%;
  height: 100vh;
}
